<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-avatar>
      <img alt="Kosong" src="../../assets/IMG_3778.JPG" />
    </ion-avatar>
  </div>

  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="nama">Ahmad Fatih Rahmatullah</h3>
      <h5 class="mhs">Mahasiswa</h5>
    </div>
    <ion-button
      fill="clear"
      href="https://instagram.com/ahmadfatih_r?igshid=OGQ5ZDc2ODk2ZA=="
      ><ion-icon name="logo-instagram"></ion-icon>ahmadfatih_r
    </ion-button>
    <ion-button
      fill="clear"
      href="https://www.facebook.com/profile.php?id=100044400455161&mibextid=ZbWKwL"
      ><ion-icon name="logo-facebook"></ion-icon>Ahmad Fatih Rahmatullah
    </ion-button>
  </div>
</ion-content>
